# Cloudflare Tunnel configuration
# Tutorial: https://developers.cloudflare.com/cloudflare-one/connections/connect-networks/
#
# Setup steps:
# 1. Install cloudflared: https://developers.cloudflare.com/cloudflare-one/connections/connect-networks/downloads/
# 2. Login: cloudflared tunnel login
# 3. Create tunnel: cloudflared tunnel create devlog-blog
# 4. Update tunnel ID below
# 5. Configure DNS: tianboyuan.top CNAME -> <tunnel-id>.cfargotunnel.com

tunnel: YOUR_TUNNEL_ID_HERE
credentials-file: /etc/cloudflared/YOUR_TUNNEL_ID_HERE.json

ingress:
  - hostname: tianboyuan.top
    service: http://nginx:80
  - hostname: www.tianboyuan.top
    service: http://nginx:80
  - service: http_status:404
